body {
    background-color: #f8f9fa;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.navbar {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
}

.search-bar-container {
    animation: fadeIn 1s ease-in-out;
}

#search-bar {
    border-radius: 50px;
    border: 2px solid #28a745;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

#search-bar:focus {
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
    border: 2px solid #1e7e34;
    outline: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
